/* Styles for navs buttons */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.li-border-half {
  cursor: pointer;
}

.li-border-half::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: #000;
}
.li-border-half:hover::after {
  width: 100%; /* Completa la línea al hacer hover */
  transition: width 0.5s ease; /* Transición suave de la línea */
}

/* Styles for h1 */

.h1-border-half::after {
  content: "";
  display: block;
  margin-top: 20px;
  height: 10px;
  width: 35%;
  background-color: #557053;
}

/* Styles for sections titles */

.sections-border-half::after {
  content: "";
  display: block;
  margin-top: 10px;
  height: 3px;
  width: 60%;
  background-color: #6f8665;
}

.cards-border-half::after {
  content: "";
  display: block;
  margin-top: 10px;
  height: 2px;
  width: 40%;
  background-color: #6f8665;
}

/* Styles for roles */

.roles-border-half {
  position: relative;
}

.roles-border-half::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px; /* Ajusta según necesidad para alinear con el borde inferior del texto */
  height: 5px;
  width: 40%;
  background-color: #bfc4ac;
}

.subtitles-border-half{
    position: relative;
}

.subtitles-border-half::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -20px; /* Ajusta según necesidad para alinear con el borde inferior del texto */
    height: 5px;
    width: 40%;
    background-color: #bfc4ac;
  }
/* ExpandingCards.css */

.containerCard {
  display: flex;
  width: 100%; /* Adaptado para ocupar el ancho completo del contenedor padre */
  height: 100%;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #557053;
  cursor: pointer;
  width: 100%;
  flex-basis: calc(50% - 40px); /* Ajusta este valor para el tamaño inicial */
  position: relative;
  transition: flex-basis 200ms ease-in, opacity 200ms ease-in;
  opacity: 0.8;
}

.panel.active {
  flex-basis: 50%; /* Ajusta para el tamaño activo */
  opacity: 1;
}
.panel.active .button {
  display: inline-flex; /* Muestra el botón solo si el panel está activo */
}

.infoContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacia el contenido verticalmente */
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  background-color: rgba(163, 177, 138);
  color: #375441;
}

/* Estilos para el contenedor de badges */
.techBadges {
  display: none;
  position: absolute;
  top: 10px; /* Ajusta la posición superior según sea necesario */
  left: 10px; /* Ajusta la posición izquierda según sea necesario */
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre badges */
}
.panel.active .techBadges {
  display: flex; /* Muestra el botón solo si el panel está activo */
}

/* Estilos para cada badge individual */
.techBadge {
  background-color: #375441; /* Fondo de cada badge */
  color: #ffffff; /* Color del texto de cada badge */
  padding: 5px 10px; /* Relleno interno de cada badge */
  font-size: 0.8em; /* Tamaño del texto de cada badge */
}

/* Card animated button */

.button {
  display: none; /* Oculta el botón por defecto */
  line-height: 1;
  text-decoration: none;
  align-self: flex-end;
  align-items: center;
  gap: .75rem;
  background-color: #557053;
  color: #fff;
  font-size: small;
  font-weight: 600;
  padding: .25rem .40rem;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
}



/* Media queries para dispositivos móviles */
@media (max-width: 1024px) {
  .containerCard {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    width: 100%;
    height: 1400px;
    background-color: #B1BB9B; /* Establece el color de fondo para toda la sección */
  }

  .panel {
    margin: 0;
    position: relative;
    flex-basis: 100%; /* Sobrescribe flex-basis para ocupar todo el ancho disponible */
    margin-top: 10px; /* Añade un margen de 10px alrededor de cada panel */
    margin-bottom: 10px; /* Añade un margen de 10px alrededor de cada panel */
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    transition: none; /* Elimina las transiciones para desactivar animaciones */
    cursor: default; /* Cambia el cursor a default, ya que no es interactivo */
    opacity: 1; /* Asegura que la opacidad sea total, sin efectos */
  }
  .panel.active {
    flex-basis: 100%; /* Ajusta para el tamaño activo */
    opacity: 1;
  }

  .infoContainer {
    color: #BFC4AC;
    position: absolute;
    bottom: 0;
    width: 100%; /* Ajusta el ancho al 100% para llenar la tarjeta */
    height: auto; /* Permite que el contenedor se ajuste al contenido */
    background-color: #557053; /* Elimina el fondo para un diseño más limpio */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacia el contenido verticalmente */
    align-items: flex-start;
  }
  .cards-border-half::after{
    background-color: #BFC4AC;
  }

  .techBadges {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre badges */
  }

  .button {
    background-color: #A3B18A;
    align-self: flex-end; /* Centra el botón en la tarjeta */
    margin-top: 10px; /* Agrega un margen superior para espacio visual */
  }

  /* Elimina efectos hover en dispositivos móviles donde no aplican */
  .button:hover {
    background-color: #557053; /* Mantiene el color original al hacer hover */
    color: #A3B18A;
  }
  .button, .button.mobile-hidden, .techBadges, .techBadges.mobile-hidden {
    display: inline-flex; /* Asegura que el botón siempre esté visible en móviles */
  }
  .sections-border-half::after, .h1-border-half::after, .subtitles-border-half::after, .roles-border-half::after {
      display: none;
  }
}

@media (min-width: 1280px) {
  .roles-border-half::after{
    bottom: -30px; /* Ajusta según necesidad para alinear con el borde inferior del texto */
  }
  .sections-border-half::after{
    margin-top: 20px;
    height: 5px;  
  }
  .button{
    font-size: none;
    padding: .50rem .80rem;
    padding-left: 20px;
  }
  .button__icon-wrapper{
    width: 25px;
    height: 25px;
  }
  .panel {
    flex-basis: calc(40% - 34px); /* Ajusta el flex-basis a 40% en pantallas grandes */
  }
  
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
    position: relative;
    color: #557053;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #A3B18A;
    border: 2px solid #557053;
    color: #557053;
  }
  
  .button:hover .button__icon-wrapper {
    color: #557053;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }
  
  .sections-border-timeline-first-half::after {
    content: "";
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3px;
    width: 40%;
    background-color: #ffffff;
  }
  
  .sections-border-timeline-second-half{
    position: relative;
  }
  
  .sections-border-timeline-second-half::after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
  margin-top: 10px;
  height: 3px;
  width: 40%;
  background-color: #ffffff;
}

/* Media queries */

@media (min-width: 1536px) {
  .panel {
    flex-basis: calc(30% - 34px); /* Ajusta el flex-basis a 40% en pantallas grandes */
  }
  .button{
    padding: .75rem 1.5rem;
  }
}

/* Estilos del menú hamburguesa */
.hamburger {
  cursor: pointer;
  position: absolute;
  top: 0.5rem; /* Ajustado para mejor alineación */
  left: 0.5rem; /* Ajustado para mejor alineación */
  z-index: 20; /* Asegura que el menú esté por encima de otros elementos */
}

.hamburger input {
  display: none; /* Oculta el checkbox */
}

.hamburger svg {
  height: 3em; /* Define el tamaño del SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1); /* Transición suave al girar */
}

.line {
  fill: none;
  stroke: #375441; /* Color del icono, ajusta según el fondo de tu menú */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg); /* Gira el SVG para formar una "X" */
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42; /* Animación de las líneas hacia la forma de "X" */
}

/* Estilos adicionales para visibilidad general y estructura */
.header {
  width: 100%;
  padding: 2.5rem; /* Ajustado para pantallas grandes */
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}