---
import Layout from '../layouts/Layout.astro';
import Home  from "../components/home/Index";
import Sidebar from "../components/sidebar/Index";
import About from "../components/sections/About";
import Works from "../components/sections/Works";
import Skills from "../components/sections/Skills";
import Nav from "../components/layouts/Nav";
import Education from "../components/sections/Education";
import Contact from '../components/sections/Contact';
import "../styles/normalize.css";
import "../styles/global.css";
import Footer from '../components/sections/Footer';
---

<Layout title="Balbiano Luciano">
	<div class="flex flex-row font-outfit">
		<div class="w-full lg:w-4/6">
			<Nav />
			<div class="lg:space-y-32">
				<div>
					<Home client:only />
				</div>
				<div>
					<About client:only />
				</div>
				<div>
					<Works client:only/>
				</div>
				<div>
					<Skills client:only/>
				</div>
				<div>
					<Education client:only/>
				</div>
				<div>
					<Contact client:only/>
				</div>
			</div>
		</div>
		<div class="hidden lg:block w-2/6 bg-02">
			<Sidebar client:only />
		</div>
	</div>
	<Footer />
</Layout>