---
import Layout from '../layouts/Layout.astro';
import Home  from "../components/home/Index";
import Sidebar from "../components/sidebar/Index";
import Nav from "../components/layouts/Nav";
---

<Layout title="Balbiano Luciano">
	<div class="flex flex-row h-screen font-outfit">
		<div class="w-4/6">
			<Nav />
			<Home client:only />
		</div>
		<div class="w-2/6 bg-03">
			<Sidebar client:only />
		</div>
	</div>
</Layout>